/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    background-color: #e9eada;
 }

 .home-container {
    display: flex;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

#weather-btn {
    background-color: #145177;
    color: white;
    width: 220px;
    height: 70px;
    border-radius: 25px;
    border: none;
    box-shadow: black;
    font-size: 24px;
    outline:none;
}

#weather-btn:focus {
  background-color: #2e8ac4;
}

#hidden-submit {
    visibility: hidden;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.back-btn {
    width: 50px;
    background-color: gray;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
}

.banner {
    width: 100%;
    height: 20%;
    background-color: #145177;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Literata', serif;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

.weather-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section {
    justify-content: center;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
}

.temp {
    margin-top: 15px;
}

.temp > p {
    margin: 0 10px;
}

.weather-top {
    margin-bottom: 5px;
}

.weather-top > h2 {
    margin: 10px 0;
    font-size: 46px;
}

.weather-top > img {
    width: 100px;
}

.banner > h2 {
    font-size: 46px;
    text-align: center;
}

.p1 {
    font-size: 36px;
}

.p2 {
    font-size: 28px;
}

.p3 {
    font-size: 20px;
}

.sunrise-sunset {
    margin-bottom: 10px;
}

.sunrise-sunset > img {
    width: 30px;
}

.min-max {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    width: 30px;
}

.home-svg {
    width: 30vw;
}

.top {
    height: 20vh;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.bottom {
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.left {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    width: 50vw;
    text-align: center;
}

.right {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

 @media only screen and (max-device-width: 600px) {
    .top {
        text-align: center;
    }
    .bottom {
        flex-direction: column;
    }
    .left {
        width: 100%;
        height: 100%;
        font-size: 60px;
    }
    #weather-btn {
        width: 400px;
        height: 100px;
    }
    .right {
        width: 100%;
        margin: 0;
    }
    .right > img {
        width: 80vw;
    }
    .banner > h2 {
        font-size: 80px;
    }
    .section {
        font-size: 50px;
    }
    .section > h2 {
        font-size: 90px;
    }
    .section > img {
        width: 200px;
    }
    .weather-top {
        font-size: 6px;
    }
    .p1 {
        font-size: 86px;
    }

    .p2 {
        font-size: 68px;
    }

    .p3 {
        font-size: 50px;
    }
}